{% extends "base.html" %}

{% block content %}

	<div class="row">
        <div class="column">
            <h2>Categories</h2>
            <ul>
                {% for category in categories %}
                <li>
                    <a href="{{url_for('show_category_items', category_name=category.name)}}">
                        {{category.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
		<div class="column">
            {% if 'username' in session %}
            <div><a href="{{url_for('show_create_new_item')}}"><button class="button">Add New Item</button></a></div>
            {% endif %}
            <h2>Latest Items</h2>
            <ul>
                {% for item in items %}
                <li>
                    <a href="{{url_for('show_item', category_name=item.category.name, item_name=item.name)}}">
                        {{item.name}}
                    </a>
                    ({{item.category.name}})
                </li>
                {% endfor %}
            </ul>
        </div>
	</div>

{% endblock %}